{{if .Permission.CanRead $.UnitTypeCode}}
<a class="hugo-tab item" style="display: none;">
    <img style="width: 16px" src="/assets/hugo_logo.png" />&nbsp;Hugo
</a>
<a class="jbake-tab item" style="display: none;">
    <img style="width: 16px" src="/assets/jbake_logo.png" />&nbsp;Bake
</a>
<a class="h5p-tab item" style="display: none;">
    <img style="width: 16px" src="/assets/h5p_logo.png" />&nbsp;H5P
</a>
{{end}}