<script type="module" src="/assets/dist/index.js"></script>
<script type="module" src="/assets/madeleine.js/index.js"></script>
<script type="module" src="/assets/adaptive-cards/index.js"></script>
<script type="module" src="/assets/h5p/index.js"></script>
